[project]
[access "refs/heads/*"]
	create = group piranha maintaners
	push = +force group piranha maintaners
	label-Code-Review = -2..+2 group piranha maintaners
	label-Verified = -1..+1 group piranha maintaners
	submit = group piranha maintaners
	rebase = group piranha maintaners
[submit]
	action = rebase if necessary
