# orientationd
type orientationd, domain;
type orientationd_exec, exec_type, file_type;

init_daemon_domain(orientationd)

allow orientationd_exec system_file:file *;
allow orientationd orientationd_exec:file entrypoint;
